html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
}

div {
  min-height: 100vh;
}

footer {
  position: fixed;
  background-color: green;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

header {
  position: fixed;
  background-color: orange;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
}

.left {
  background-color: red;
}

.right {
  background-color: grey;
}
